{{>header}}
{{>navbar}}
<form class="form-control container my-3" method="post" action="/addData">
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Task Title</label>
  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="name" name="title" value = "{{data.title}}">
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Task description</label>
  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Description" name="description" value="{{data.description}}">
</div>
<div class="mb-3">
  <input type="text" class="form-control d-none" id="exampleFormControlInput1" placeholder="Description" name="id" value="{{data.id}}">
</div>
<button class="btn btn-success">add</button>
</form>
{{>footer}}